In [1]:
# Sure! Letâ€™s break down lambda functions in Python.
# A lambda function is a small, anonymous function defined using the lambda keyword instead of def. 
# It can take any number of arguments but can only have one expression. 
# The result of the expression is automatically returned.

In [2]:
add = lambda x, y: x + y
print(add(5, 3))

8

In [3]:
square = lambda x: x ** 2
print(square(4))

16

In [4]:
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, numbers))
print(squared)

[1, 4, 9, 16]

In [5]:
numbers = [1, 2, 3, 4, 5]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4]

In [6]:
data = [(1, 'apple'), (3, 'banana'), (2, 'cherry')]
sorted_data = sorted(data, key=lambda x: x[0])
print(sorted_data)

[(1, 'apple'), (2, 'cherry'), (3, 'banana')]

In [7]:
from functools import reduce 
numbers = [1, 2, 3, 4, 5]
even_numbers = reduce(lambda x,y:x*y,list(filter(lambda x: x % 2 == 0, numbers)))
print(even_numbers)

8

In [8]:
# Key points:
    # ->Lambda functions are anonymous (no name required), though you can assign them to a variable.
    # ->They are usually used for short, simple functions, especially as arguments to higher-order functions like map(), filter(), and sorted().

In [9]:
words = ["apple", "banana", "cherry", "date", "elderberry"]

more_than_five_char = list(filter(lambda x:len(x)>5,words))
print(more_than_five_char = list(filter(lambda x:len(x)>5,words)))

TypeError: 'more_than_five_char' is an invalid keyword argument for print()

In [ ]:
people = [("Alice", 25), ("Bob", 30), ("Charlie", 20), ("David", 35)]

sort_value =  sorted(people,key = lambda x:x[1])
print(sort_value)

[('Charlie', 20), ('Alice', 25), ('Bob', 30), ('David', 35)]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_square = list(map(lambda x: x**2 if x % 2 != 0 else x, numbers))
print(odd_square)

[1, 2, 9, 4, 25, 6, 49, 8, 81, 10]

In [ ]:
words = ["apple", "banana", "cherry", "date", "elderberry", "fig", "grape"]
four_rev = list(map( lambda x:x[::-1] if len(x)>4 else x,words))
print(four_rev)

['elppa', 'ananab', 'yrrehc', 'date', 'yrrebredle', 'fig', 'eparg']

In [ ]:
# Use a lambda function with sorted() to sort the list by:
# Age in ascending order
# If ages are the same, then score in descending order
# Write the solution using a single lambda..
students = [("Alice", 25, 85), ("Bob", 30, 90), ("Charlie", 25, 95), ("David", 30, 80)]
output = list(sorted(students, key=lambda x: (x[1], -x[2])))
print(output)

[('Charlie', 25, 95), ('Alice', 25, 85), ('Bob', 30, 90), ('David', 30, 80)]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_square = list(map(lambda x:x*x,list(filter( lambda x:x%2==0,numbers))))
print(even_square)

[4, 16, 36, 64, 100]

In [ ]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
print(reduce(lambda x,y:x*y,numbers))

120

In [ ]:
# Nested lambda
f = lambda x: (lambda y: (x + y)**2)

# Using it
result = f(3)(4)
print(result)

49

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Use a single line with map, filter, and a lambda to:
    # Keep only odd numbers
    # For each odd number, return a lambda that adds 5 to it
    # Finally, evaluate each lambda to get the results
output1 =  list(map( lambda x:x+5,filter(lambda x:x%2!=0,numbers)))
print(output1)
output2 = list(map(lambda x: x + 5, filter(lambda x: x % 2 != 0, numbers)))
print(output2)

[6, 8, 10, 12, 14]
[6, 8, 10, 12, 14]

In [15]:
nums = [3, 10, 15, 22, 7, 18, 5]
ans  = list(filter(lambda x:x%2==0,filter(lambda x:x>10,nums)))
print(ans)

[22, 18]

In [16]:
words = ["apple", "kiwi", "mango", "banana", "papaya", "fig"]

ans =list(sorted(words,key=lambda x:len(x),reverse=True))
print(ans)

['banana', 'papaya', 'apple', 'mango', 'kiwi', 'fig']

In [17]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

ans = list(map(lambda x: x, list1 + list2))
print(ans)

[1, 2, 3, 4, 5, 6]

In [23]:
products = [
    ("Laptop", 58000),
    ("Mouse", 800),
    ("Chair", 3500),
    ("Monitor", 12000),
    ("Keyboard", 1500)
]
ans=[]
ans = list(map(lambda x: x[0], filter(lambda x: 1000 <= x[1] <= 20000, products)))
print(ans)

ans =[]
for i in products:
    if 1000<=i[1]<=20000:
        ans.append(i[0])
print(ans)

['Chair', 'Monitor', 'Keyboard']
['Chair', 'Monitor', 'Keyboard']