In [ ]:
import pandas as pd
data = {
    'Name': ['Rahul', 'Priya', 'John'],
    'Age': [25, 30, 28],
    'City': ['Bangalore', 'Delhi', 'Mumbai']
}

df = pd.DataFrame(data)
print(df)

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.head(5))

In [ ]:
import pandas as pd
df = pd.read_excel('data.xlsx')
print(df.head(5))
print(df.tail())
print(df.shape)
print(df.columns)

In [ ]:
import pandas as pd

data = {
    'EmpID': [101,102,103,104,105,106,107,108],
    'Name': ['Rahul','Priya','Amit','Neha','John','Sara','Kiran','Meera'],
    'Department': ['IT','HR','IT','Finance','IT','HR','Finance','IT'],
    'Salary': [65000,52000,72000,58000,80000,55000,60000,70000],
    'City': ['Bangalore','Delhi','Mumbai','Chennai','Pune','Hyderabad','Delhi','Bangalore'],
    'Experience': [3,5,2,7,6,4,8,3]
}

df = pd.DataFrame(data)
print(df)
# # âœ… # Q1. Select all employees who belong to the IT department.
print(df[df["Department"]=="IT"])

# # ðŸ‘‰ # 2. Get the names of employees whose salary is greater than 60,000.
print(df[df['Salary']>60000])

# # ðŸ‘‰ # # Q3. Count how many employees are in each department.
count_dep = df.groupby('Department')['Name'].count()
df['Department'].value_counts()


# # ðŸ‘‰ # Q4. Find the average salary of employees in each city.
avg_sal = df.groupby('City')['Salary'].mean()
print(avg_sal)

# # ðŸ‘‰ # Q5. Select employees who have experience between 3 and 6 years (inclusive).
exp = df[(df['Experience']>=3) & (df['Experience']<=6)]
print(exp)

# # ðŸ‘‰ # Q6. Sort employees by salary in descending order.
sort_emp = df.sort_values(by='Salary',ascending=False )
print(sort_emp)


# # ðŸ‘‰ # Q7. Add a new column "SalaryLevel":
# # High â†’ salary â‰¥ 70000
# # Medium â†’ 55000â€“69999
# # Low â†’ < 55000

df['SalaryLevel'] = df['Salary'].apply(
    lambda x:'High' if x>=70000 
    else 'Medium' if x>=55000 
    else 'low')
print(df['SalaryLevel'])

df['SalaryLevel'] = df['Salary'].apply(
    lambda x: 'High' if x >= 70000 
    else 'Medium' if x >= 55000 
    else 'Low'
)

print(df[['Salary', 'SalaryLevel']])

# # ðŸ‘‰ # Q8. Find the highest salary in the IT department.
# highest_sal_it = df[df['Department']=="IT"].groupby("Department")["Salary"].max()
df[df['Department'] == 'IT']['Salary'].agg({'number_emp':'count'})

# # # Q9. Show only EmpID, Name, Salary
df[['EmpID', 'Name', 'Salary']]

# # # Q10. City with highest number of employees
df['City'].value_counts().head(1)

df['Salary'].agg(max_salary='max', min_salary='min', avg_salary='mean')
df['Salary'].agg({
    'Maximum Salary': 'max',
    'Minimum Salary': 'min',
    'Average Salary': 'mean'
})
print(df[(df["City"] == 'Mumbai') |(df["City"] == 'Mumbai')]) 

# ans = df.groupby('City').agg({"Salary":"mean"})

print(df.groupby("City")["Salary"].mean().loc[lambda x: x > 60000])

In [ ]:
import pandas as pd

data = {
    "Employee": ["Arun", "Sneha", "Kiran", "Asha", "Ravi", "Manoj", "Anita"],
    "Department": ["IT", "HR", "Finance", "IT", "HR", "Finance", "IT"],
    "Salary": [55000, 62000, 58000, 72000, 60000, 65000, 70000],
    "Experience": [2, 5, 3, 7, 4, 6, 5]
}

df = pd.DataFrame(data)
print(df)

# Find the top 2 highest-paid employees in each department.
print(df.sort_values('Salary', ascending=False).groupby('Department').head(2)[['Employee','Salary']])


##print all employees whose Experience is between 2 and 5 years (inclusive).
print(df[(df["Experience"]>=2) & (df["Experience"]<=5)])

#print the top 3 highest-paid employees (show only Name and Salary).
print(df.nlargest(3, 'Salary')[['Employee', 'Salary']])


#print the average salary for each City, but show only those cities where the average salary is greater than 60,000.
ans = df.loc[df.groupby('City')["Salary"].avg()>60000]
print(ans)


#print all employees whose name ends with the letter â€œnâ€ (example: Arun, Kiran, Sachin).
print(df[df["Employee"].str.endswith('n')])

#print all employees whose salary is above the average salary of the entire company.
print(df[df["Salary"]>(df["Salary"].mean())])

#print the department-wise highest salary, but show only the departments where the highest salary is above 70,000.
print(df.groupby("Department")["Salary"].max().loc[lambda x: x > 70000])

#print all employees whose name has more than 5 characters.
print(df.loc[df["Employee"].apply(lambda x:len(x)>5)])

#print the total salary spent in each city, but show only those cities where total salary > 1,50,000.
print(df.groupby("City")["Salary"].sum().loc[lambda x:x>150000])

#print the employees who belong to the department that has the lowest average salary.
print(df.loc[df['Department'] == df.groupby('Department')['Salary'].mean().idxmin(), ['Employee']])

#print the employee(s) who have the highest experience in each department.
ans = df.groupby("Department")["Experience"].max()
print(ans)
max_exp = df.groupby('Department')['Experience'].transform('max')
print(df[df['Experience'] == max_exp][['Employee','Department','Experience']])

print(df.loc[df['Experience'] == df.groupby('Department')['Experience'].transform('max'), ['Employee','Department','Experience']])

In [ ]:
data = {
    'EmpID': [101,102,103,104,105,106,107,108,109,110],
    'Name': ['Arun','Meena','Kiran','Ravi','Anita','Sanjay','Pooja','Rohit','Divya','Sachin'],
    'Department': ['IT','HR','Finance','IT','HR','Finance','IT','Finance','HR','IT'],
    'Project': ['Alpha','Bravo','Alpha','Delta','Echo','Delta','Alpha','Echo','Bravo','Delta'],
    'HoursWorked': [120,90,160,140,110,170,150,130,95,165],
    'Experience': [3,5,2,6,4,7,2,5,3,8]
}
df = pd.DataFrame(data)
print(df)

# # Q1. #print all employees who worked more than 150 hours.
print(df[df["HoursWorked"] > 150])

# # Q2. #print only the names of employees who are in the Finance department.
print(df.loc[df['Department']=="Finance",["Name"]])

# # Q3. Find the total hours worked on each project.
print(df.groupby("Project")["HoursWorked"].sum())
print(df.groupby("Project").agg(Hour_of_work=("HoursWorked", "sum")))

# # Q4. #print the employee(s) who have the maximum experience in the entire company.
print(df.loc[df["Experience"]==df["Experience"].max(),["Name",'Experience']])

# # Q5. Find the employee(s) who worked the maximum hours within each project.
print(df.loc[df['HoursWorked'] == df.groupby('Project')['HoursWorked'].transform('max'),
             ['Name','Project','HoursWorked']])

# # Q6. Find employees who worked more hours than the average hours of their own department.
print(df.loc[df['HoursWorked']>df.groupby("Department")["HoursWorked"].transform('mean'),["Name"]])

# # Q7. Find the project where the total hours worked is the highest.
print(df.groupby("Project")["HoursWorked"].sum().idxmax())

# Find the employees whose hours worked are exactly e# Qual to the median hours of the company.
median_hours = df['HoursWorked'].median()
print(df.loc[df['HoursWorked'] == median_hours, ['Name', 'HoursWorked']])


# # Q10. Find the department(s) where the maximum experience is greater than 6 years.
print(df.groupby("Department")["Experience"].max().loc[lambda x: x > 6].reset_index(name='MaxExperience'))

In [30]:
import pandas as pd

data = {
    'EmpID': [101,102,103,104,105,106,107,108,109,110],
    'Name': ['Arun','Meena','Kiran','Ravi','Anita','Sanjay','Pooja','Rohit','Divya','Sachin'],
    'Department': ['IT','HR','Finance','IT','HR','Finance','IT','Finance','HR','IT'],
    'Project': ['Alpha','Bravo','Alpha','Delta','Echo','Delta','Alpha','Echo','Bravo','Delta'],
    'HoursWorked': [120,90,160,140,110,170,150,130,95,165],
    'Experience': [3,5,2,6,4,7,2,5,3,8],
    'Rating': [4.5,4.2,4.0,4.3,4.1,4.7,3.9,4.4,4.0,4.8],
    'Bonus': [5000,4000,3000,6000,4500,7000,3500,5000,4000,6500]
}

df = pd.DataFrame(data)
# print(df)

# Q1. Find the employee(s) in each department who have the highest Rating.
# Hint: Think groupby + transform or nlargest per group
print(df.loc[df['Rating'] == df.groupby('Department')['Rating'].transform('max'),
             ['Name','Department','Rating']])
print('\n')

# Q2. Find the total Bonus given to each project, but only include projects where total Bonus > 12,000.
print(df.groupby('Project')['Bonus'].sum().loc[lambda x: x > 12000].reset_index(name='TotalBonus'))
print('\n')

# Q3. Find employees whose HoursWorked are above the average HoursWorked of their project.
print(df.loc[df['HoursWorked']>df.groupby('Project')['HoursWorked'].transform('mean'),['Name']])
print('\n')

# # Q4. Find the top 2 employees with the highest Bonus in each department.
print(df.sort_values(by='Bonus',ascending=False).groupby('Department').head(2))
print(df.sort_values(by='Bonus', ascending=False).groupby('Department').head(2)[['Name','Department','Bonus']])
ans = df.groupby('Department').apply(lambda x: x.nlargest(2, 'Bonus'))
print(ans[['Name','Department','Bonus']])

# Q5. Find the project where the average Rating is highest.
avg_rating = df.groupby('Project')['Rating'].mean()
print(avg_rating[avg_rating == avg_rating.max()])

# *# Q6. Find employees whose Bonus is above the department average Bonus, but Rating is below 4.5.
ans = df.loc[df['Bonus']>df.groupby("Department")["Bonus"].transform('mean')]
print(ans.loc[ans['Rating']<4.5,['Name']])


ans = df.groupby('Department', group_keys=False).apply(lambda x: x[['Name','Department','Bonus']].nlargest(2, 'Bonus'))
print(ans)

     Name Department  Rating
1   Meena         HR     4.2
5  Sanjay    Finance     4.7
9  Sachin         IT     4.8


  Project  TotalBonus
0   Delta       19500


     Name
2   Kiran
5  Sanjay
6   Pooja
7   Rohit
8   Divya
9  Sachin


   EmpID    Name Department Project  HoursWorked  Experience  Rating  Bonus
5    106  Sanjay    Finance   Delta          170           7     4.7   7000
9    110  Sachin         IT   Delta          165           8     4.8   6500
3    104    Ravi         IT   Delta          140           6     4.3   6000
7    108   Rohit    Finance    Echo          130           5     4.4   5000
4    105   Anita         HR    Echo          110           4     4.1   4500
1    102   Meena         HR   Bravo           90           5     4.2   4000
     Name Department  Bonus
5  Sanjay    Finance   7000
9  Sachin         IT   6500
3    Ravi         IT   6000
7   Rohit    Finance   5000
4   Anita         HR   4500
1   Meena         HR   4000
                Name Department  Bonus
Department
Finance    5  Sanjay    Finance   7000
           7   Rohit    Finance   5000
HR         4   Anita         HR   4500
           1   Meena         HR   4000
IT         9  Sachin         IT   6500
           3    Ravi         IT   6000
Project
Delta    4.6
Name: Rating, dtype: float64
    Name
3   Ravi
4  Anita
     Name Department  Bonus
5  Sanjay    Finance   7000
7   Rohit    Finance   5000
4   Anita         HR   4500
1   Meena         HR   4000
9  Sachin         IT   6500
3    Ravi         IT   6000

C:\Users\sachi\AppData\Local\Temp\ipykernel_9776\548531185.py:34: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ans = df.groupby('Department').apply(lambda x: x.nlargest(2, 'Bonus'))
C:\Users\sachi\AppData\Local\Temp\ipykernel_9776\548531185.py:46: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ans = df.groupby('Department', group_keys=False).apply(lambda x: x[['Name','Department','Bonus']].nlargest(2, 'Bonus'))