In [1]:
import pandas as pd

# -----------------------------
# SECTION 1
# -----------------------------
data = {
    'Name': ['Rahul', 'Priya', 'John'],
    'Age': [25, 30, 28],
    'City': ['Bangalore', 'Delhi', 'Mumbai']
}

df = pd.DataFrame(data)
print(df)

# -----------------------------
# SECTION 2
# -----------------------------
df = pd.read_csv('data.csv')
print(df.head(5))

# -----------------------------
# SECTION 3
# -----------------------------
df = pd.read_excel('data.xlsx')
print(df.head(5))
print(df.tail())
print(df.shape)
print(df.columns)

# -----------------------------
# SECTION 4
# -----------------------------
data = {
    'EmpID': [101,102,103,104,105,106,107,108],
    'Name': ['Rahul','Priya','Amit','Neha','John','Sara','Kiran','Meera'],
    'Department': ['IT','HR','IT','Finance','IT','HR','Finance','IT'],
    'Salary': [65000,52000,72000,58000,80000,55000,60000,70000],
    'City': ['Bangalore','Delhi','Mumbai','Chennai','Pune','Hyderabad','Delhi','Bangalore'],
    'Experience': [3,5,2,7,6,4,8,3]
}

df = pd.DataFrame(data)
print(df)

# Q1 - IT dept employees
print(df[df["Department"] == "IT"])

# Q2 - Employees with salary > 60000
print(df[df["Salary"] > 60000])

# Q3 - Count employees per department
print(df.groupby("Department")["Name"].count())

# Q4 - Average salary per city
print(df.groupby("City")["Salary"].mean())

# Q5 - Experience between 3 & 6
print(df[(df["Experience"] >= 3) & (df["Experience"] <= 6)])

# Q6 - Sort by salary desc
print(df.sort_values(by="Salary", ascending=False))

# Q7 - Add SalaryLevel column
df["SalaryLevel"] = df["Salary"].apply(
    lambda x: "High" if x >= 70000 else "Medium" if x >= 55000 else "Low"
)
print(df[["Salary", "SalaryLevel"]])

# Q8 - Highest salary in IT
print(df[df["Department"] == "IT"]["Salary"].max())

# Q9 - Show EmpID, Name, Salary
print(df[["EmpID", "Name", "Salary"]])

# Q10 - City with highest number of employees
print(df["City"].value_counts().head(1))

# Filter salary statistics
print(df["Salary"].agg({
    "Maximum Salary": "max",
    "Minimum Salary": "min",
    "Average Salary": "mean"
}))

# Names starting with 'A'
print(df[df["Name"].str.startswith("A")][["Name"]])

# -----------------------------
# SECTION 5
# -----------------------------
data = {
    "Employee": ["Arun", "Sneha", "Kiran", "Asha", "Ravi", "Manoj", "Anita"],
    "Department": ["IT", "HR", "Finance", "IT", "HR", "Finance", "IT"],
    "Salary": [55000, 62000, 58000, 72000, 60000, 65000, 70000],
    "Experience": [2, 5, 3, 7, 4, 6, 5]
}

df = pd.DataFrame(data)
print(df)

# Top 2 highest salary in each dept
print(df.sort_values("Salary", ascending=False).groupby("Department").head(2)[["Employee","Salary"]])

# Experience 2â€“5
print(df[(df["Experience"] >= 2) & (df["Experience"] <= 5)])

# Top 3 highest salaries
print(df.nlargest(3, "Salary")[["Employee", "Salary"]])

# Employees ending with 'n'
print(df[df["Employee"].str.endswith("n")])

# Salary > company average
print(df[df["Salary"] > df["Salary"].mean()])

# Dept-wise highest salary > 70k
print(df.groupby("Department")["Salary"].max().loc[lambda x: x > 70000])

# Name length > 5
print(df[df["Employee"].apply(lambda x: len(x) > 5)])

# -----------------------------
# SECTION 6
# -----------------------------
data = {
    'EmpID': [101,102,103,104,105,106,107,108,109,110],
    'Name': ['Arun','Meena','Kiran','Ravi','Anita','Sanjay','Pooja','Rohit','Divya','Sachin'],
    'Department': ['IT','HR','Finance','IT','HR','Finance','IT','Finance','HR','IT'],
    'Project': ['Alpha','Bravo','Alpha','Delta','Echo','Delta','Alpha','Echo','Bravo','Delta'],
    'HoursWorked': [120,90,160,140,110,170,150,130,95,165],
    'Experience': [3,5,2,6,4,7,2,5,3,8]
}

df = pd.DataFrame(data)

# Employees >150 hours
print(df[df["HoursWorked"] > 150])

# Finance department names
print(df.loc[df["Department"]=="Finance", ["Name"]])

# Total hours per project
print(df.groupby("Project")["HoursWorked"].sum())

# Max experience in company
print(df[df["Experience"] == df["Experience"].max()][["Name","Experience"]])

# Max hours in each project
print(df.loc[df["HoursWorked"] == df.groupby("Project")["HoursWorked"].transform("max")])

# Worked more than dept avg
print(df.loc[df["HoursWorked"] > df.groupby("Department")["HoursWorked"].transform("mean")])

# Project with highest total hours
print(df.groupby("Project")["HoursWorked"].sum().idxmax())

# Median hours
median_hours = df["HoursWorked"].median()
print(df[df["HoursWorked"] == median_hours][["Name", "HoursWorked"]])

# Departments with experience > 6
print(df.groupby("Department")["Experience"].max().loc[lambda x: x > 6])

# -----------------------------
# SECTION 7
# -----------------------------
data = {
    'EmpID': [101,102,103,104,105,106,107,108,109,110],
    'Name': ['Arun','Meena','Kiran','Ravi','Anita','Sanjay','Pooja','Rohit','Divya','Sachin'],
    'Department': ['IT','HR','Finance','IT','HR','Finance','IT','Finance','HR','IT'],
    'Project': ['Alpha','Bravo','Alpha','Delta','Echo','Delta','Alpha','Echo','Bravo','Delta'],
    'HoursWorked': [120,90,160,140,110,170,150,130,95,165],
    'Experience': [3,5,2,6,4,7,2,5,3,8],
    'Rating': [4.5,4.2,4.0,4.3,4.1,4.7,3.9,4.4,4.0,4.8],
    'Bonus': [5000,4000,3000,6000,4500,7000,3500,5000,4000,6500]
}

df = pd.DataFrame(data)

# Highest rating in each dept
print(df[df["Rating"] == df.groupby("Department")["Rating"].transform("max")][["Name","Department","Rating"]])

# Total bonus per project >12000
print(df.groupby("Project")["Bonus"].sum().loc[lambda x: x > 12000])

# Hours above project avg
print(df[df["HoursWorked"] > df.groupby("Project")["HoursWorked"].transform("mean")][["Name"]])

# Top 2 bonus per dept
print(df.sort_values("Bonus", ascending=False).groupby("Department").head(2)[["Name","Department","Bonus"]])

# Highest avg rating project
avg_rating = df.groupby("Project")["Rating"].mean()
print(avg_rating[avg_rating == avg_rating.max()])

# Bonus > dept avg AND rating < 4.5
bonus_above_avg = df[df["Bonus"] > df.groupby("Department")["Bonus"].transform("mean")]
print(bonus_above_avg[bonus_above_avg["Rating"] < 4.5][["Name"]])

    Name  Age       City
0  Rahul   25  Bangalore
1  Priya   30      Delhi
2   John   28     Mumbai
   ID   Name  Age       City  Salary
0   1   John   25  Bangalore   50000
1   2  Priya   30      Delhi   62000
2   3   Amit   28     Mumbai   58000
3   4  Sarah   22    Chennai   45000
4   5  David   35       Pune   72000
   ID   Name  Age       City  Salary
0   1   John   25  Bangalore   50000
1   2  Priya   30      Delhi   62000
2   3   Amit   28     Mumbai   58000
3   4  Sarah   22    Chennai   45000
4   5  David   35       Pune   72000
   ID   Name  Age       City  Salary
5   6   Riya   27  Hyderabad   53000
6   7  Karan   29    Kolkata   60000
7   8  Meena   24     Jaipur   48000
8   9  Vijay   32      Surat   69000
9  10    Anu   26        Goa   51000
(10, 5)
Index(['ID', 'Name', 'Age', 'City', 'Salary'], dtype='object')
   EmpID   Name Department  Salary       City  Experience
0    101  Rahul         IT   65000  Bangalore           3
1    102  Priya         HR   52000      Delhi           5
2    103   Amit         IT   72000     Mumbai           2
3    104   Neha    Finance   58000    Chennai           7
4    105   John         IT   80000       Pune           6
5    106   Sara         HR   55000  Hyderabad           4
6    107  Kiran    Finance   60000      Delhi           8
7    108  Meera         IT   70000  Bangalore           3
   EmpID   Name Department  Salary       City  Experience
0    101  Rahul         IT   65000  Bangalore           3
2    103   Amit         IT   72000     Mumbai           2
4    105   John         IT   80000       Pune           6
7    108  Meera         IT   70000  Bangalore           3
   EmpID   Name Department  Salary       City  Experience
0    101  Rahul         IT   65000  Bangalore           3
2    103   Amit         IT   72000     Mumbai           2
4    105   John         IT   80000       Pune           6
7    108  Meera         IT   70000  Bangalore           3
Department
Finance    2
HR         2
IT         4
Name: Name, dtype: int64
City
Bangalore    67500.0
Chennai      58000.0
Delhi        56000.0
Hyderabad    55000.0
Mumbai       72000.0
Pune         80000.0
Name: Salary, dtype: float64
   EmpID   Name Department  Salary       City  Experience
0    101  Rahul         IT   65000  Bangalore           3
1    102  Priya         HR   52000      Delhi           5
4    105   John         IT   80000       Pune           6
5    106   Sara         HR   55000  Hyderabad           4
7    108  Meera         IT   70000  Bangalore           3
   EmpID   Name Department  Salary       City  Experience
4    105   John         IT   80000       Pune           6
2    103   Amit         IT   72000     Mumbai           2
7    108  Meera         IT   70000  Bangalore           3
0    101  Rahul         IT   65000  Bangalore           3
6    107  Kiran    Finance   60000      Delhi           8
3    104   Neha    Finance   58000    Chennai           7
5    106   Sara         HR   55000  Hyderabad           4
1    102  Priya         HR   52000      Delhi           5
   Salary SalaryLevel
0   65000      Medium
1   52000         Low
2   72000        High
3   58000      Medium
4   80000        High
5   55000      Medium
6   60000      Medium
7   70000        High
80000
   EmpID   Name  Salary
0    101  Rahul   65000
1    102  Priya   52000
2    103   Amit   72000
3    104   Neha   58000
4    105   John   80000
5    106   Sara   55000
6    107  Kiran   60000
7    108  Meera   70000
City
Bangalore    2
Name: count, dtype: int64
Maximum Salary    80000.0
Minimum Salary    52000.0
Average Salary    64000.0
Name: Salary, dtype: float64
   Name
2  Amit
  Employee Department  Salary  Experience
0     Arun         IT   55000           2
1    Sneha         HR   62000           5
2    Kiran    Finance   58000           3
3     Asha         IT   72000           7
4     Ravi         HR   60000           4
5    Manoj    Finance   65000           6
6    Anita         IT   70000           5
  Employee  Salary
3     Asha   72000
6    Anita   70000
5    Manoj   65000
1    Sneha   62000
4     Ravi   60000
2    Kiran   58000
  Employee Department  Salary  Experience
0     Arun         IT   55000           2
1    Sneha         HR   62000           5
2    Kiran    Finance   58000           3
4     Ravi         HR   60000           4
6    Anita         IT   70000           5
  Employee  Salary
3     Asha   72000
6    Anita   70000
5    Manoj   65000
  Employee Department  Salary  Experience
0     Arun         IT   55000           2
2    Kiran    Finance   58000           3
  Employee Department  Salary  Experience
3     Asha         IT   72000           7
5    Manoj    Finance   65000           6
6    Anita         IT   70000           5
Department
IT    72000
Name: Salary, dtype: int64
Empty DataFrame
Columns: [Employee, Department, Salary, Experience]
Index: []
   EmpID    Name Department Project  HoursWorked  Experience
2    103   Kiran    Finance   Alpha          160           2
5    106  Sanjay    Finance   Delta          170           7
9    110  Sachin         IT   Delta          165           8
     Name
2   Kiran
5  Sanjay
7   Rohit
Project
Alpha    430
Bravo    185
Delta    475
Echo     240
Name: HoursWorked, dtype: int64
     Name  Experience
9  Sachin           8
   EmpID    Name Department Project  HoursWorked  Experience
2    103   Kiran    Finance   Alpha          160           2
5    106  Sanjay    Finance   Delta          170           7
7    108   Rohit    Finance    Echo          130           5
8    109   Divya         HR   Bravo           95           3
   EmpID    Name Department Project  HoursWorked  Experience
2    103   Kiran    Finance   Alpha          160           2
4    105   Anita         HR    Echo          110           4
5    106  Sanjay    Finance   Delta          170           7
6    107   Pooja         IT   Alpha          150           2
9    110  Sachin         IT   Delta          165           8
Delta
Empty DataFrame
Columns: [Name, HoursWorked]
Index: []
Department
Finance    7
IT         8
Name: Experience, dtype: int64
     Name Department  Rating
1   Meena         HR     4.2
5  Sanjay    Finance     4.7
9  Sachin         IT     4.8
Project
Delta    19500
Name: Bonus, dtype: int64
     Name
2   Kiran
5  Sanjay
6   Pooja
7   Rohit
8   Divya
9  Sachin
     Name Department  Bonus
5  Sanjay    Finance   7000
9  Sachin         IT   6500
3    Ravi         IT   6000
7   Rohit    Finance   5000
4   Anita         HR   4500
1   Meena         HR   4000
Project
Delta    4.6
Name: Rating, dtype: float64
    Name
3   Ravi
4  Anita