In [34]:
import pandas as pd
data = {
    'Name': ['Rahul', 'Priya', 'John'],
    'Age': [25, 30, 28],
    'City': ['Bangalore', 'Delhi', 'Mumbai']
}

df = pd.DataFrame(data)
print(df)

    Name  Age       City
0  Rahul   25  Bangalore
1  Priya   30      Delhi
2   John   28     Mumbai

In [35]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.head(5))

   ID   Name  Age       City  Salary
0   1   John   25  Bangalore   50000
1   2  Priya   30      Delhi   62000
2   3   Amit   28     Mumbai   58000
3   4  Sarah   22    Chennai   45000
4   5  David   35       Pune   72000

In [36]:
import pandas as pd
df = pd.read_excel('data.xlsx')
# print(df.head(5))
# print(df.tail())
# print(df.shape)
print(df.columns)

Index(['ID', 'Name', 'Age', 'City', 'Salary'], dtype='object')

In [37]:
import pandas as pd

data = {
    'EmpID': [101,102,103,104,105,106,107,108],
    'Name': ['Rahul','Priya','Amit','Neha','John','Sara','Kiran','Meera'],
    'Department': ['IT','HR','IT','Finance','IT','HR','Finance','IT'],
    'Salary': [65000,52000,72000,58000,80000,55000,60000,70000],
    'City': ['Bangalore','Delhi','Mumbai','Chennai','Pune','Hyderabad','Delhi','Bangalore'],
    'Experience': [3,5,2,7,6,4,8,3]
}

df = pd.DataFrame(data)
# print(df)
# âœ… Q1. Select all employees who belong to the IT department.
# print(df[df["Department"]=="IT"])

# ðŸ‘‰ Q2. Get the names of employees whose salary is greater than 60,000.
# print(df[df['Salary']>60000])

# ðŸ‘‰ Q3. Count how many employees are in each department.
# count_dep = df.groupby('Department')['Name'].count()
# print(count_dep
df['Department'].value_counts()


# ðŸ‘‰ Q4. Find the average salary of employees in each city.
# avg_sal = df.groupby('City')['Salary'].mean()
# print(avg_sal)

# ðŸ‘‰ Q5. Select employees who have experience between 3 and 6 years (inclusive).
# exp = df[(df['Experience']>=3) & (df['Experience']<=6)]
# print(exp)

# ðŸ‘‰ Q6. Sort employees by salary in descending order.
# sort_emp = df.sort_values(by='Salary',ascending=False )
# print(sort_emp)


# ðŸ‘‰ Q7. Add a new column "SalaryLevel":
# High â†’ salary â‰¥ 70000
# Medium â†’ 55000â€“69999
# Low â†’ < 55000

df['SalaryLevel'] = df['Salary'].apply(
    lambda x:'High' if x>=70000 
    else 'Medium' if x>=55000 
    else 'low')
# print(df['SalaryLevel'])

df['SalaryLevel'] = df['Salary'].apply(
    lambda x: 'High' if x >= 70000 
    else 'Medium' if x >= 55000 
    else 'Low'
)

# print(df[['Salary', 'SalaryLevel']])

# ðŸ‘‰ Q8. Find the highest salary in the IT department.
highest_sal_it = df[df['Department']=="IT"].groupby("Department")["Salary"].max()
df[df['Department'] == 'IT']['Salary'].agg({'number_emp':'count'})
# print(highest_sal_it)

# Q9. Show only EmpID, Name, Salary
df[['EmpID', 'Name', 'Salary']]

# Q10. City with highest number of employees
df['City'].value_counts().head(1)

# df['Salary'].agg(max_salary='max', min_salary='min', avg_salary='mean')
# df['Salary'].agg({
#     'Maximum Salary': 'max',
#     'Minimum Salary': 'min',
#     'Average Salary': 'mean'
# })

City
Bangalore    2
Name: count, dtype: int64